.filter-controls {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0vh 0 4vh 0;
  .button--sort {
    color: var(--white);
    background-color: var(--darkgreen);
    font-weight: 400;
    transition: 0.4s;
    padding: 1rem 1rem;
    &.active {
      background-color: var(--lightgreen);
      color: var(--black);
      svg path {
        fill: var(--black);
      }
    }
    &::before,
    &::after {
      content: none;
      display: none;
    }
    &:hover::before {
      transform: none;
    }
    &:hover span {
      color: inherit;
    }
    &:hover {
      background-color: var(--lightgreen);
      color: var(--black);
      svg path {
        fill: var(--black);
      }
    }
    svg {
      width: 1em;
      height: 1em;
      margin-right: 0.5rem;
      vertical-align: middle;

      path {
        fill: var(--white);
      }
    }
  }
  label {
    font-weight: 400;
    letter-spacing: 0.05rem;
    font-size: 17px;
  }
  select {
    border-radius: calc(infinity * 1px);
    padding: 0.375rem 0.5rem;
    margin-left: 1vw;
    color: var(--white);
    background-color: var(--darkgreen);
    font-size: 17px;
  }
  .filter-sort {
    display: flex;
    flex-direction: row;
  }
}
