@use "./tools/media.scss";

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  form {
    margin-bottom: 5vh;
  }
  .search-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    padding-top: 5vh;
    align-items: center;
    gap: 1rem;
    input {
      font-size: 14px;
      border: none;
      outline: none;
      height: 42px;
      border-radius: 22px;
      width: 220px;
      padding: 0 18px;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(8px);
      color: var(--white);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
      &::placeholder {
        color: var(--white);
      }
    }
    button {
      @include media.respond(xs) {
        font-size: 15px;
      }
    }
  }
  .loader {
    position: relative;
    left: 1%;
    width: 48px;
    height: 48px;
    border: 5px solid var(--white);
    border-bottom-color: var(--lightgreen);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    @include media.respond(lg) {
    }
    @include media.respond(md) {
    }
    @include media.respond(sm) {
      margin-top: 10px;
      width: 30px;
      height: 30px;
    }
    @include media.respond(xs) {
      margin-top: 12px;
      width: 20px;
      height: 20px;
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .filter-results {
    font-size: 20px;
    display: flex;
    justify-content: center;
    animation: resultAnimation 0.6s ease-out;

    @keyframes resultAnimation {
      0% {
        opacity: 0;
        transform: scale(0.8);
      }
      50% {
        opacity: 1;
        transform: scale(1.1);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
@include media.respond(xl) {
  .form-container {
    padding-right: 5vh;
    padding-left: 5vh;
  }
}
