@use "./tools/media.scss";

.header {
  padding-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  .logo {
    margin: 0 auto;
    object-fit: contain;
    max-height: 100%;
    height: 450px;
    width: 100%;
    @include media.respond(sm) {
      height: auto;
      padding-right: 3vh;
      padding-left: 3vh;
    }
  }
  &:hover {
    transform: scale(1.03);
  }
}
