@use "./form.scss";
@use "./button.scss";
@use "./products.scss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: #ececec;
  --turqoiuse: #9fd3c7;
  --blue: #385170;
  --darkblue: #142d4c;
  --black: #000000;
}
* {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0 auto;
  background-color: var(--darkblue);
  color: var(--white);

  .header {
    font-size: 46px;
    text-align: center;
  }
}
