@use "./tools/media.scss";

.grid-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  list-style-type: none;
  margin: 0 auto;
  padding-bottom: 10vh;
  padding-left: 0;
  color: var(--main-color);
  @include media.respond(md) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  @include media.respond(xs) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .grid-list-item {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 5px;
    padding: 4vh;

    @include media.respond(md) {
      padding: 2vh;
      h2 {
        font-size: 1.2rem;
      }
      h3 {
        font-size: 1em;
      }
      img {
        height: 100px;
      }
    }
    @include media.respond(xs) {
      padding: 1vh;
      h2 {
        font-size: 1rem;
      }
      h3 {
        font-size: 0.9em;
      }
    }
    .product-store {
      margin-top: auto;
      font-weight: bold;
      &.hemköp {
        color: #cf1b2c;
      }
      &.citygross {
        color: #0b71bb;
      }
    }
    .product-price-comparison {
      p {
        margin: 0;
      }
    }
    img {
      width: 100%;
      height: 200px;
      object-fit: contain;
    }
  }
}
